@media (max-width:320px) {
    section{
        width: 100%;
      
            }
        }



.div-footer {
    font-size: 12px;
}

.grid-main {
    margin: 20px 0 20px 0;
}

.imagenes-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}