@media (max-width:768px) {
section{
    padding: 10px;
    div{
          display: flex;
          flex-direction: column;
          justify-content: center;
    }
}

    .grid-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .imagenes-tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}