@import "../base/typo";
$color-text-logo: darkturquoise;
$color-text: orangered;
$color-text-footer: beige;
$color-parrafo: rgb(15, 144, 146);
$fuente-parrafo:'Poppins', sans-serif;
$fuente-titulos:'Roboto Condensed', sans-serif;
$background-footer: orangered;


