footer{
    background-color: $background-footer;
    width: 100%;
    height: 7.5rem;
}
.footer-estilo{
    width: 100%;
    height: 100%;
}
.footer-div{
    text-align: center;
    h2{
        font-family: $fuente-titulos;
        color: $color-text-footer;
    }
    p{
        font-family: $fuente-parrafo;
        color: $color-text-footer;
        font-size: large;
    }
}
.div-footer{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;

    div{
        p{
            font-family: $fuente-parrafo;
            color: $color-text-footer;
            display: inline;
        }
    }
}
.iconos{
    gap: 1.25rem;
}