main{
    width: 100%;
    height: 100%;
.imagenes-grid{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    }
}
}
.imagen1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.imagen2 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.imagen3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.imagen4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}
.imagen5 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}